extends layout

block content
  h1= title
  img(src='/images/banner.png')
  p= t('app.intro')
  h2 Sensors
  ul
    each sensor in sensors
      li.sensorLink
        a(href='/sensor/#{sensor.id}' data-latitude="#{sensor.geo.latitude}" data-longitude="#{sensor.geo.longitude}") #{sensor.name}
  #map
  
  script(src='https://code.jquery.com/jquery-2.1.2.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js')
  script(src='/javascripts/map.js')

  script.
    $(function () {
      createMap(10.7746, 106.6985, 12);
      $('.sensorLink').each(function() {
        var aEl = $(this).children('a');
        mapPopup(aEl.data('latitude'), aEl.data('longitude'), aEl.text());
      });
    });